
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  margin: 20px;
}
.logout{
  background:red;
  float: right;
  width: 100px;
  text-align: center;
}
.logout:hover{
  cursor: pointer;
}
.header{
  text-align: center;
  background: #20232a;
  height: 120px;
  width: 100%;
  vertical-align: middle;
  border-bottom: 2px #e5ce58 solid;
}

.home-wrapper{
  width: 60%;
  margin: 0 auto;
  border-radius: 7px;
}

.title{
  color: #fff;
  display: inline;
  vertical-align: middle;
  margin-top: 20px;
}
.subtitle{
  color: #d4d4d4;
  margin-left:  10%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-info{
  width: 600px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left:  10%;

}

.selector-label{
  color:#d4d4d4;
  margin-bottom: 20px;
  font-size: 40px;
}

.page-selector{

}
.new-page-btn{
  color: #e5ce58;
  font-size : 30px;
  margin-left:20px;
  transform:translateY(5px);
}
.new-page-btn:hover{
  cursor:pointer;
}
.new-page{
  margin: 0 0 30px 30px;
  padding: 0 30px;
  border-left:1px solid #c4c4c4;

}

.subsubtitle{
  color:#d4d4d4;
}
.new-page-item{
  margin:  15px 0;
}

.page-title{
  margin-left: 10%;
  color:#d4d4d4;
  margin-bottom: 20px;
  font-size: 40px;
  border-bottom: 1px #e5ce58 solid;
}
.new-section-content,.new-section-title{
  width: 50%;
  margin: 10px 10% ;

}

.new-section{
  margin-bottom: 30px;
}
.images-label{
  margin-left: 10%;
  color: white;
  font-size: 20px;
}
.images-input-wrapper{
  margin:  10px 0 10px 10%;
}
.images-input{
  color: white;
  font-size: 20px;

}

.section-wrapper{
  width: 80%;
  margin: 20px auto;
}
.section{
  background: white;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  display: inline-block;
}
.section-title{
  color: gray;
  padding-left: 10px;
  border-bottom: 1.5px #e5ce58 solid;
}
.section-content{
  padding-left: 10px;
  color: black;
  font-size: 20px;
}
.section-icons{
  display: inline;
  margin: 20px auto;

  height: 100%;
  position: absolute;
}
.section-icon{
  color:white;
  font-size: 20px;
  display: block !important;
  margin-bottom: 10px;
  transition: font-size 0.3s;
}
.section-icon:hover{
  font-size: 25px;
  cursor: pointer;
}
.images-wrapper{
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1.5px #e5ce58 solid;


}
.thumbnail{
  height: 70px;
  width: 70px;

}
